h2, .h2 {
  border-bottom-width: 0px;
}

.centered {
  text-align: center;
}

.btn {
  margin-left: 10px;
  margin-right: 10px;
}

.btn-rounded {
  border-radius: 40px;
  margin: 1.5em;
}

.blurb-container {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   
}

.blurb-half-column {
   width: 50%;
   padding-right: 1em;
}

#quarto-content>* {
  padding-top: 0;
}

.image-banner {
  min-width: 1000px;
}

.hero-banner {
  max-width: 100%;
  height: 250px; 
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-text {
  font-size: clamp(1rem, 5vw, 4rem); 
  background: rgba(245,251,219, 0.8);
}

.hero-text h1 {  
  margin: 1em;
}

.hero-text p {  
  padding: 0;
}

.nav-link.active {
  text-decoration: underline;
  text-decoration-thickness: 5px;
}

figcaption {
  text-align: center;
}

audio {
  width: 200px;
}

audio::-webkit-media-controls-volume-slider, 
audio::-webkit-media-controls-timeline-container, 
audio::-webkit-media-controls-time-remaining-display,  
audio::-webkit-media-controls-timeline {
  display: none !important;
}

audio::-webkit-media-controls-panel {
  padding: 0 0 0 1px;
  justify-content: center; /*control panel elements are flex positioned*/
}

#audio-yellow::-webkit-media-controls-panel {
  background: rgba(245,251,219);
}


.callout-toggle {
  filter: brightness(0%) saturate(0%) invert(100%);
}

p {
  padding-top: 0.2em;
}

.quarto-grid-item p {
  padding: 0;
}

.values-card {
  background: #F8E8D0;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column; /* Stack items vertically */
  margin: 0.5em;
  min-height: 800px;
}

@media(max-width: 600px){
  .blurb-container{
   flex-direction: column;
  }
  .blurb-half-column{
     width: 100% !important;
     text-align: center !important;
  }
  .grid-cultural {
    grid-template-columns: 1fr;
  }
}
