h2, .h2 {
  border-bottom-width: 0px;
}

.centered {
  text-align: center;
}

.btn {
  margin-left: 10px;
  margin-right: 10px;
}

.btn-rounded {
  border-radius: 40px;
  margin: 1.5em;
}

.blurb-container {
   display: flex;
   flex-wrap: wrap;
   align-items: center;

}

.blurb-half-column {
   width: 50%;
   padding-right: 1em;
}

#quarto-content>* {
  padding-top: 0;
}

.image-banner {
  min-width: 1000px;
}

.hero-banner {
  max-width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-banner-empty {
  margin-block-end: 2em;
}

.hero-text {
  font-size: clamp(1rem, 5vw, 4rem);
  background: rgba(245,251,219, 0.8);
}

.hero-text h1 {
  margin: 1em;
}

.hero-text p {
  padding: 0;
}

.nav-link.active {
  text-decoration: underline;
  text-decoration-thickness: 5px;
}

.quarto-page-breadcrumbs .breadcrumb {
  padding-left: 0.2em
}

.quarto-page-breadcrumbs a {
  color: #000000
}

/** These three blocks grabbed from imerss-core.css taxonDisplay **/
.imerss-photo {
    width: 600px;
    height: 400px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.external-link {
    width: 1rem;
    height: 0.9rem;
    display: inline-block;
    background-image: url(../files/external-link.svg);
    background-repeat: no-repeat;
    background-size: 0.9rem;
    margin-left: 8px;
}

.taxonDisplay-iNat-extern {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    background: #ddd;
    padding: 4px;
    padding-left: 6px;
    color: black;
}

#title-block-header .quarto-page-breadcrumbs .breadcrumb .breadcrumb-item:not(:last-child) a {
  text-decoration: underline;
}

figcaption {
  text-align: center;
}

audio {
  width: 200px;
}

audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-timeline-container,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-timeline {
  display: none !important;
}

audio::-webkit-media-controls-panel {
  padding: 0 0 0 1px;
  justify-content: center; /*control panel elements are flex positioned*/
}

#audio-yellow::-webkit-media-controls-panel {
  background: rgba(245,251,219);
}


.callout-toggle {
  filter: brightness(0%) saturate(0%) invert(100%);
}

p {
  padding-top: 0.2em;
  padding-bottom: 0;
}

.quarto-grid-item p {
  padding: 0;
}

.values-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.values-card {
  background: #F8E8D0;
  border: 1px solid #ccc;
  padding: 15px;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  margin: 0.5em;
  min-height: 800px;
}

.values-card > *:last-child {
  margin-block-start: auto;
}
.values-card > *:last-child img {
  aspect-ratio: 1 / 1;
  border: 0.1rem solid #ccc;
  border-radius: 0.5em;
  object-fit: cover;
  width: 90%;
}

.values-card-image-85 {
  object-position: 85%;
}

.background-image {
  background-position: center;
  background-size: cover;
}

.floating-text {
  background-color: rgba(245, 251, 219, 0.9);
  padding-block-start: 0.5em;
  padding-inline: 3em;
  margin-block: clamp(1.5em, calc(100vw / 20), 5em);
}

.floating-text .btn {
  background-color: var(--bs-body-color);
  color: rgba(245, 251, 219, 1);
  font-size: 1.2em;
  margin-inline: 0;
}


.align-start {
  align-items: flex-start;
}

.align-start h3 {
  margin-block-start: 0;
  padding-block-start: 0;
}

.nav-footer .nav-footer-center {
  margin-top: 0;
}

.nav-footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Prevent excess shrinkage of footer as per designs */
@media (min-width: 768px) {
  .nav-footer-left {
    flex: 0.1 1 0px;
  }
  .nav-footer-right {
    flex: 0.1 1 0px;
  }
}

@media(max-width: 600px){
  .blurb-container {
   flex-direction: column;
  }
  .blurb-half-column {
     width: 100%;
  }
  .grid-cultural {
    grid-template-columns: 1fr;
  }
}
