/*-- scss:defaults --*/
// Base document colors
$primary:     #F2FCD6;    
$secondary:   #695F50; 
$link-color:  $secondary;

$body-color:  $secondary;
$body-bg:     $primary; 
$navbar-fg:   $secondary;
$navbar-hl:   $secondary;

/*--.nav-link:hover{
  background-color: #E8C6BA;
}--*/

li .dropdown-item{
  color: $secondary;
  background-color: $primary;
}

li .dropdown-item:hover{
  color: $secondary;
  background-color: #FFD4BD;
}

/*-- scss:rules --*/

h1, .h1 h2{
  color: $secondary;
}

.quarto-title-banner .quarto-title .title {
  color: $primary;
}

.highlight-div {
  padding: 3em;
  background-color: #597090;
  color: $primary;
}

a:link {
  color: #597090;
}

a:hover {
  color: $secondary;
}


