/*-- scss:defaults --*/
// Base document colors
$primary:     #0F2E3D;
$secondary:   #19A0BE; 
$link-color:  $secondary;

$body-color:  white;
$body-bg:     #292929;
$navbar-fg:   white;
$navbar-hl:   white;

/*-- scss:rules --*/

h1, .h1 h2{
  color: $body-color;
}

.btn.btn-outline-primary{
  color: white;
  border-color: white;
}


