/*-- scss:defaults --*/
// Base document colors
$primary:     #F2FCD6;    
$secondary:   #5A5244; 
$link-color:  #597090;

$body-color:  $secondary;
$body-bg:     $primary; 
$navbar-fg:   $secondary;
$navbar-hl:   $secondary;

$dropdown-link-color: $secondary !important;
$dropdown-link-hover-color: $secondary !important;
$dropdown-link-hover-bg: #FFD4BD !important;


h2 {
  padding-top: 0.8em;
}

h3 {
  padding-top: 0.8em;
}

:focus { 
  outline-color: $link-color !important;
  outline-style: solid;
  outline-width: 3px;
}

li .dropdown-item{
  color: $secondary;
  background-color: $primary;
}


.close-button {
    float: right;
    color: $primary; 
    background-color: $secondary;
    border: none;             

}

.close-button:hover {
   color: $link-color;
  
}

#la-x{
  padding: .5em;
}

#la-button{
  padding: .6rem;
  font-size: 1.2em;
  color: $primary;
}

p{
  padding-top: 1em;
  padding-bottom: 1em;
}

/* modal from https://jimjam-slam.github.io/quarto-experiments/ */
.modal__container h1{
  color: $primary !important;
  background-color: $secondary !important;
  min-width: 200px !important;
}

.modal__container{
  color: $primary !important;
  background-color: $secondary !important;
  min-width: 200px !important;
}

.nav-footer .nav-footer-center {
  margin-top: 1em;
}

.nav-footer .nav-footer-right {
  font-size: 1em !important;
}

/*-- scss:rules --*/

h1, .h1 h2{
  color: $secondary;
}

.quarto-title-banner .quarto-title .title {
  color: $primary;
}

.blue-div {
  background-color: $link-color;
  color: $primary;
}

.blue-div a{
  color: $primary;
}

.brown-div {
  background-color: #6C6451;
  color: $primary;
}


a:hover {
  color: $secondary;
}

.nav-tabs .nav-link.active{
  color: $secondary;
  background: #F8E8D0;
  font-weight: bold;
}

.nav-tabs .nav-link{
  background: #F8E8D0;
}


.quarto-grid-item p.card-img-top {
  background: $primary;
}

.quarto-grid-item div.post-contents {
  background: $primary;
}

.tab-content{
  background: #F8E8D0;
}